#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  "Cairo graphics library"

#define VER_INTERNALNAME_STR     "libcairo.dll"
#define VER_ORIGINALFILENAME_STR "libcairo.dll"
#include <common.ver>
